// font stacks
$standard-font-stack: "Open Sans", sans-serif
$mono-font-stack: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace
$reading-font-stack: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif

// colours
$ircdocs-light-bg: #f7f8fc
$ircdocs-dark-blue: #334
$ircdocs-dark-blue-color: #f7f7fa
$ircdocs-dark-blue-link: #e7e7ff
$ircdocs-dark-blue-subtitle: #445
